<div class="d-flex" style="background-image: linear-gradient(to right ,rgb(224, 240, 134),white );">
    <div class="sidebar bg-warning d-flex p-5 text-center align-items-center fw-bolder fs-4 flex-column" style="height:87vh ; width: 250px;">
        <a routerLink="/dashboard" class="text-dark" style="text-decoration: none;">Dashboard</a>
        <a routerLink="/employees" class="mt-3 text-danger" style="text-decoration: none;">Employee List</a>
    </div>

    <div class="p-4 d-flex flex-column w-100 ">
       <div class="d-flex justify-content-between ">
        <h3 style="color: rgb(5, 5, 108);">Employee List</h3>
        <a routerLink="/employee/add" class="btn btn-outline-secondary"><i class="fa-solid fa-user-plus"></i>Add</a>
       </div>
       <div class="d-flex justify-content-center align-items-center flex-column mt-5">
        <div class="d-flex justify-content-between w-100">
            <div class="d-flex w-75">
                <input type="text" class="form-control me-2" placeholder="UserName" name="search" [(ngModel)]="searchkey">
                <div class="dropdown w-100">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Sort</button>
                    <ul class="dropdown-menu">
                        <li><a  class="dropdown-item" (click)="sortId()">By Id</a></li>
                        <li><a  class="dropdown-item" (click)="sortName()"> By Name</a></li>
                    </ul>
                </div>
            </div>
            <button (click)="generatePdf()" class="btn btn-success">Export</button>
        </div>
        <table class="table table-bordered table-primary shadow mt-5 rounded">
            <thead>
                <tr class="p-4 table-active">
                    <th class="py-4 text-center">User ID</th>
                    <th class="py-4 text-center">User Name</th>
                    <th class="py-4 text-center">Email</th>
                    <th class="py-4 text-center">Status</th>
                    <th class="py-4 text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of allEmployee | search:searchkey | paginate : {
                    itemsPerPage: 5,currentPage: p,}" [hidden]="employee.id=='1'">
                    <td class="text-center">{{employee.id}}</td>
                    <td class="text-center">{{employee.name}}</td>
                    <td class="text-center">{{employee.email}}</td>
                    <td class="text-center"><span [ngClass]="employee.status =='1'?'btn btn-success':'btn btn-warning '">{{employee.status =='1'?"Active":"InActive"}}</span></td>
                    <td class="text-center">
                        <a routerLink="/employee/edit/{{employee.id}}" class="btn btn-outline-primary"><i class="fa-solid fa-pen"></i></a>
                        <a (click)="removeEmployee(employee.id)" class="btn btn-outline-danger ms-3"><i class="fa-solid fa-trash "></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="fixed-bottom text-center" (pageChange)="p=$event"></pagination-controls>
       </div>
       
    </div>
</div>

